<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="UPGTest" connectionString="User Id=upgtest; Password=dang3r; Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =Dev-PLX-Doug.penlink.com)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = PLDB))); Pooling=false"/>
    <add name="UPGTest-Local" connectionString="User Id=upgtest; Password=dang3r; Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = Doug-PC)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = XE))); Pooling=false"/>
  </connectionStrings>
  <appSettings>
    <add key="SourcePath" value="c:\workspaces\DBMigration\Source\"/>
    <add key="ExpExePath" value="c:\oraclexe\app\oracle\product\11.2.0\server\bin"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
